<div id="Logo" style="text-align:center">
	<h1>Air Base</h1>
<p>Welcome to Air Base! A place for Airsoft Enthusiasts! Already have an account? Go ahead and log in! If not, signing up is fast and simple</p>
</div>
<div class="row" style="text-align:center">
	<button type="button" class="btn btn-info">Login</button>
</div>
<br>
<div class="row" style="text-align:center">
	<button type="button" class="btn btn-danger">Signup</button>
</div>