<ul class="nav nav-pills navbar">
	<li>Home</li><li>About</li>
</ul>

<h1>Add a new Post</h1>







<!-- need to figure out how to put separate comments on a different line -->
			<strong>Comments:</strong><br><% @posts.each do |post| %>
				
				<%= post.comment %>


		<% end %>