<div id="Logo" style="text-align:center">
	<h1>Air Base</h1>
<p>Welcome to Air Base! A place for Airsoft Enthusiasts! Already have an account? Go ahead and log in! If not, signing up is fast and simple</p>
</div>
<form method="get" action="/login">
<div class="row" style="text-align:center">
	<button type="submit" class="btn btn-info">Login</button>
</div>
</form>
<br>
<form method="get" action="/signup">
<div class="row" style="text-align:center">
	<button type="submit" class="btn btn-danger">Signup</button>
</div>
</form>



<ul>
<% @posts.each do |post| %>
	<li>
	<%= post.comment %>
	<%= link_to "Show Post" posts_path %>
	</li>
</ul>
<% end %>