<h1>Add a new Post</h1>


	<div class="col-md-7"><!-- this is subject to deletion, as its full potential is unkown -->
		<% @posts.each do |post| %>
			<strong>Comments:</strong><br>
				<%= post.comment %>
	</div>

		<% end %>